body{
    background-color: hsl(30, 38%, 92%);
}
h1{
    font-family: "Fraunces", serif;
}
img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
p, button{
    font-family: "Montserrat", serif;
}
button{
    background-color: hsl(158, 36%, 37%);
    color: white;
    border-radius: 7px;
    border: none;
    width: 90%;
    height: 50px;
}
button:hover{
    background-color: hsl(158, 42%, 18%);
    cursor: pointer;
}
.card{
    max-width: 40em;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    height: 450px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.productInfo{
    margin: 10px;
}
.cartButton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.discountPrice{
    color: hsl(158, 36%, 37%);
}
.firstPrice{
    text-decoration: line-through;
}
@media screen and (min-width: 40em) {
    .card{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    img{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    button{
        margin-right: 20px;
    }
}
@media screen and (max-width: 40em){
    .card{
        max-width: 350px;
        height: auto;
    }
}